<app-menu-title></app-menu-title>
<div class="container__articles">
	<div class="articles__main">
		<app-big-card
		Id="1"
		photoCover="https://images.hdqwalls.com/download/flash-vs-zoom-4k-h3-1400x900.jpg"
		cardTitle="Novo lancamento imperdivel do filme"
		cardDescription="O herói velocista Flash enfrenta seu arqui-inimigo, Zoom, um vilão com velocidade sobrenatural, em uma batalha épica para proteger Central City"

		>
	</app-big-card>
	</div>
	<div class="articles__others">
		<app-small-card
		Id="2"
		cardTitle="Dois heróis lendários da DC Comics se encontram quando suas habilidades e estratégias únicas..."
		photoCover="https://tse4.explicit.bing.net/th?id=OIP.A0ue6EWIFy2wPCChj9C2cQHaFj&pid=Api&P=0&h=180"
		>
		</app-small-card>

		<app-small-card
		Id="3"
		cardTitle="Como Flash, Barry assume o papel de protetor da cidade de Central..."
		photoCover="https://images3.alphacoders.com/928/928322.jpg"
		>
		</app-small-card>

		<app-small-card
		Id="4"
		cardTitle="Numa batalha de titãs, o velocista Flash e o kryptoniano Superman colidem em uma corrida épica..."
		photoCover="https://tse2.mm.bing.net/th?id=OIP.mhDPYqcXtHKbrRF5jGk3PAHaEK&pid=Api&P=0&h=180"
		>
		</app-small-card>

	</div>
</div>
