<app-menu-title></app-menu-title>
<div class="container__articles">
	<div class="articles__main">
		<app-big-card
		photoCover="https://tse2.mm.bing.net/th?id=OIP.Kn-72QDi-ubnRhmePgLgUQHaE8&pid=Api&P=0&h=180"
		cardTitle="Novo lan;amento impordivel do filme"
		cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor repudiandae sed."

		>
	</app-big-card>
	</div>
	<div class="articles__others">
		<app-small-card
		cardTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor repudiandae sed."
		photoCover="https://tse2.mm.bing.net/th?id=OIP.Kn-72QDi-ubnRhmePgLgUQHaE8&pid=Api&P=0&h=180"
		>
		</app-small-card>
		<app-small-card
		cardTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor repudiandae sed."
		photoCover="https://tse2.mm.bing.net/th?id=OIP.Kn-72QDi-ubnRhmePgLgUQHaE8&pid=Api&P=0&h=180"
		>
		</app-small-card>
		<app-small-card
		cardTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor repudiandae sed."
		photoCover="https://tse2.mm.bing.net/th?id=OIP.Kn-72QDi-ubnRhmePgLgUQHaE8&pid=Api&P=0&h=180"
		>
		</app-small-card>

	</div>
</div>
